<div class="not-found-container">
    <div class="not-found-content">
        <div>
            <mat-icon class="large-icon">error_outline</mat-icon>
        </div>

        <div class="error-title">
            404
        </div>

        <div class="error-subtitle">
            Page Not Found
        </div>

        <div class="error-description">
            Sorry, the page you are looking for doesn't exists.
        </div>

        <button mat-raised-button color="primary" class="home-button" routerLink="/">
            <mat-icon>home</mat-icon>
            Home
        </button>
    </div>
</div>