.photo-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .photo-details__container {
        width: 50%;
        padding: 48px;
    }
}

.photo-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.remove-button {
    background-color: #f44336;
    color: #eee;
}
